<!-- Construindo a barra de navegação -->
<nav class = "navbar navbar-expand-lg navbar-dark bg-success">
    <!-- Colocando a barra em um container para deixar mais organizado -->
    <div class="container-fluid container">
        <a class="navbar-brand text-white" href="/"> Início </a>
        <!-- Botão sanduiche quando encolher a página -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle container text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Relatórios </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                        <a class="dropdown-item text-success" href="/CCIH"> CCIH </a>
                        </li>
                        <li>
                        <a class="dropdown-item text-success" href="/NUCLEO"> NÚCLEO </a>
                        </li>
                    </ul>
                </li>
            </ul>  
        </div>
    </div>
</nav>